name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies and Python
        run: uv sync --frozen

      - name: Lint with ruff
        run: uv run ruff check cam_head_tracker

      - name: Build with PyInstaller
        run: uv run pyinstaller -y --clean build.spec

      - name: Archive Release
        run: |
          $Version = "${{ github.ref_name }}"
          $DirName = "CamHeadTracker-$Version"
          Rename-Item -Path "dist/CamHeadTracker" -NewName $DirName
          Compress-Archive -Path "dist/$DirName" -DestinationPath "dist/$DirName.zip"

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*.zip
          generate_release_notes: true
          draft: true
